<header>
  <h2>
    <select (change)="readAddressBook($event)" [ngModel]="selectedAddressBookTitle">
      <option *ngFor="let title of addressBookList" [value]="title">{{title}}</option>
    </select>
  </h2>
  <button (click)="requestCreateAddressBook()">Create New Address Book</button>
  <button (click)="requestDeleteAddressBook()">Delete Address Book</button>
</header>
<article>

  <label>title:
    <input [(ngModel)]="selectedAddressBookTitle" placeholder="title"/>
  </label>

  <table>
    <thead>
    <tr>
      <th>
        <button class="add" (click)="requestCreateContact()"></button>
      </th>
      <th>Contact</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of contactList">
      <td>
        <button class="delete" (click)="requestDeleteContact(contact)"></button>
      </td>
      <td (click)="readContact(contact)">{{contact}}</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="selectedContact">
    <label>alias:
      <input [(ngModel)]="selectedContact.alias" placeholder="alias"/>
    </label>
    <label>first name:
      <input [(ngModel)]="selectedContact.firstName" placeholder="firstName"/>
    </label>
    <label>last name:
      <input [(ngModel)]="selectedContact.lastName" placeholder="lastName"/>
    </label>
    <label>phone numbers:
      <table>
        <thead>
        <tr>
          <th><button class="add" (click)="requestCreatePhoneNumber()"></button></th>
          <th>Label</th>
          <th>Number</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pn of selectedContact.phoneNumbers.values.toArray()">
          <td>
            <button class="delete" (click)="requestDeletePhoneNumber(pn)"></button>
          </td>
          <td>{{pn.label}}</td>
          <td>{{pn.number}}</td>
        </tr>
        </tbody>
      </table>
    </label>

  </div>

</article>

