html {
  /* layout-self */
  height: 100vh;
  width: 100vw;
  background-color: cornsilk;

  /* layout-children */
  display: grid;
  grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

body {
  /* layout-self */

  /* layout-children */
  display: grid;
  grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

main {
  /* layout-self */

  /* layout-children */
  display: grid;
  grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

button.add {
  background-color: gold;
}

button.remove {
  background-color: red;
}
