section {
  display: flex;

  flex-direction: column;
}

table {
  thead {
    border: 1px solid black;
    th {
      text-align: left;
    }
    tr th:first-child {
      width: 1%;
    }
  }
  tbody {
    border: 1px solid black;
  }
}

td.click {
  cursor: pointer;
  text-decoration: underline;
}
